<div class="row" ng-show="commPort">
  <p class="lead text-center">Connected to Re:Load Pro on port <span ng-bind="commPort"></span></p>
</div>

<div class="row form-horizontal">
  <div class="form-group">
    <label class="col-xs-12 col-sm-4 control-label">Set Current (Amps)</label>
    <div class="col-xs-12 col-sm-8">
      <input type="text" class="col-xs-9 form-control" ng-model="currentInput" ng-keyUp="onKeyUp($event)" autofocus>
    </div>
  </div>
</div>

<div class="row">
</div>
  
<div class="row">
  <div class='rlp-val'>
    <span class="rlp-label">Requested Current</span>
    <span ng-bind="requestedCurrent | number : 2"></span>
    <span class="rlp-units pull-right">Amps</span>
  </div>

  <div class='rlp-val'>
    <span class="rlp-label">Actual Current</span>
    <span ng-bind="lastI | number : 2"></span>
    <span class="rlp-units pull-right">Amps</span>
  </div>

  <div class='rlp-val'>
    <span class="rlp-label">Voltage</span>
    <span ng-bind="lastV | number : 2"></span>
    <span class="rlp-units pull-right">Volts</span>
  </div>

  <div class='rlp-val'>
    <span class="rlp-label">Power</span>
    <span ng-bind="lastP | number : 2"></span>
    <span class="rlp-units pull-right">Watts</span>
  </div>

  <div class='rlp-val'>
    <span class="rlp-label">Resistance</span>
    <span ng-bind="lastR | number : 2"></span>
    <span class="rlp-units pull-right">Ohms</span>
  </div>
</div>

